.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  line-height: 1rem;
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
}

.about__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  line-height: 1.5rem;
}

.about__description-quote {
  max-width: 70ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  text-align: center;
  line-height: 1.5em;
}
/* .about__img {
  border-radius: 5rem;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.about__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
} */

.about__hr {
  border-color: var(--clr-slate800);
}

.about__subtitle {
  font-size: var(--size-sm);
  color: var(--clr-light);
  margin: 0 auto;
}

.about__ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: baseline;
  margin: 0 auto;
  gap: 1em;
  /* list-style-type: "\1F44D"; */
  list-style-type: none;
}
.about__list {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  display: flex;
  gap: 0.5rem;
  align-items: baseline;
}

.about__ul-container {
  display: flex;
  /* margin: 0 auto; */
  font-weight: 500;
}

.about__btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}
.about__btn {
  text-transform: capitalize;
  font-size: var(--size-lg);
  color: white;
  text-align: center;
  width: 20%;
}

.about__actionCall-wrapper {
  display: none;
  position: absolute;
  height: 7%;
  width: 40%;
  bottom: 0;
  left: 30%;
  right: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0.2rem solid var(--clr-rose);
  border-bottom: 0;
  border-top-left-radius: 110em;
  border-top-right-radius: 110em;
  border-radius: 32%;
}
.about__actionCall {
  color: var(--clr-rose);
  font-size: 7rem;
  text-decoration: none;
}
