.about {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.about__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
}

.about__glass {
  margin: auto;
  height: 100%;
  width: 55%;

  background: linear-gradient(
    135deg,
    var(--clr-gradient1),
    var(--clr-gradient2) /* rgba(255, 255, 255, 0.1), */
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.about__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
  margin: auto;
}

.about__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  margin: auto;
}

.about__img {
  border-radius: 5rem;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.about__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
}

.about__hr {
  border-color: var(--clr-slate800);
}

.about__subtitle {
  font-size: var(--size-sm);
  color: var(--clr-slate400);
  margin: auto;
}

.about__ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
  /* list-style-type: "\1F44D"; */
  list-style-type: none;
  padding: 1em;
  flex: 1;
}
.about__list {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
}

.about__list::before {
  content: "";
  margin-left: 0.5em;
}
.about__ul-container {
  display: flex;
  margin: auto;
}

.about__btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__btn {
  text-transform: capitalize;
  font-size: var(--size-lg);
  text-align: center;
  width: 20%;
}

/*xs*/
@media (min-width: 475px) {
  .about {
    gap: 1.5rem;
  }
  .about__content {
    gap: 1.5rem;
  }
  .about__title {
    font-size: var(--size-3xl);
  }

  .about__description {
    font-size: var(--size-base);
  }

  .about__subtitle {
    font-size: var(--size-base);
  }

  .about__list {
    font-size: var(--size-base);
  }
}

/*sm*/
@media (min-width: 640px) {
  .about__img-wrapper {
    margin: 0 auto;
  }
  .about__img {
    width: 28.6875rem;
  }
}
/*md*/
/* @media (min-width: 768px) {} */

/*lg*/
@media (min-width: 1024px) {
  .about {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .about__title {
    font-size: var(--size-4xl);
  }

  .about__description {
    font-size: var(--size-lg);
  }

  .about__subtitle {
    font-size: var(--size-lg);
  }

  .about__list {
    font-size: var(--size-lg);
  }
}
/*xl*/
@media (min-width: 1280px) {
  .about__content {
    gap: 2rem;
  }
  .about__title {
    font-size: var(--size-5xl);
  }

  .about__description {
    font-size: var(--size-xl);
  }

  .about__subtitle {
    font-size: var(--size-xl);
  }

  .about__list {
    font-size: var(--size-xl);
  }
  .about__img {
    width: 30.75rem;
  }
}
/*xxl*/
/* @media (min-width: 1536px) {} */
