.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

/* .contact__title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
  text-transform: capitalize;
}
.contact__descriotion {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  max-width: 60ch;
} */

.contact__btn {
  font-size: var(--size-sm);
  margin: 0 auto;
}

.contact__descriotion {
  max-width: 70ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  margin: auto;
  line-height: 1.5em;
  padding: 0rem 1rem 0rem 1rem;
}
