.work {
  text-align: center;
}

.work__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  margin: 1rem 0rem;
}

.work__project-title {
  font-size: var(--size-base);
  margin-bottom: 1rem;
}

.work__img-wrapper {
  position: relative;
}
.work__img-wrapper::after {
  content: "";
  background-color: rgba(4, 3, 16, 0.2);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: background-color 0.3s;
}
.work__img-wrapper:hover::after {
  background-color: rgba(79, 70, 229, 0);
}

.work__project-description-1 {
  font-size: var(--size-sm);
  color: var(--clr-slate600);
  margin: 1rem 0;
}

.work__project-description-2 {
  font-size: var(--size-sm);
  color: var(--clr-slate400);
  margin-bottom: 1rem;
}

.work__project-btn {
  font-size: var(--size-sm);
}

.work__project:not(:last-child) {
  margin-bottom: 2rem;
}

.work__project-subtitle {
  display: none;
}
