:root {
  --clr-dark: #020617;
  --clr-light: #f1f5f9;
  --clr-slate400: #94a3b8;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
  --clr-rose: #ff7f50;
  --clr-indigo: #4f46e5;
  --clr-gradient1: rgba(9, 29, 43, 0.669);
  --clr-gradient2: rgba(255, 255, 255, 0);
  --clr-circles: rgba(255, 255, 255, 0.08);

  /*rose rgb(225, 29, 72) */
  /* indigo 	rgb(79, 70, 229)*/

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-s: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-gradient1);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-rose);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-rose);
}
html {
  scroll-behavior: smooth;
}

.light-mode {
  --clr-light: #020617;
  --clr-dark: #f7f7f7;
  --clr-slate400: #1e293b;
  --clr-slate600: #1e293b;
  --clr-slate800: #1e293b;
  --clr-gradient1: #63b7b7;
  --clr-gradient2: #f7f7f7;
  --clr-rose: #b7b763;
  --clr-circles: rgba(183, 21, 21, 0.083);
}

body {
  font-family: "General Sans", sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  letter-spacing: 0.06em;
  text-align: justify;
  text-justify: inter-word;
  line-height: 1.5em;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: var(--clr-rose);
}

strong {
  color: var(--clr-indigo);
}
