/*xs*/
/* @media (min-width: 475px) {} */

/*sm*/
/* @media (min-width: 640px) {} */
/*md*/
/* @media (min-width: 768px) {} */

/*lg*/
/* @media (min-width: 1024px) {} */
/*xl*/
/* @media (min-width: 1280px) {} */
/*xxl*/
/* @media (min-width: 1536px) {} */
.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.09em;
  background-color: var(--clr-rose);
  color: #f1f5f9;
  padding: 0.5rem 1em;
  border-radius: 6px;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25),
    0 10px 10px rgba(225, 29, 72, 0.5), 0 0 120px -10px var(--clr-rose);
}

.container {
  width: 95%;
  margin: 0 auto;
  padding: 0.5rem;
}
.section {
  margin-top: 2rem;
}

.title {
  font-size: var(--size-2xl);
  color: var(--clr-light);
  margin: 0 auto;
}
.glass {
  height: 100%;

  background: linear-gradient(
    135deg,
    /* rgba(255, 255, 255, 0.1), */ var(--clr-gradient1),
    var(--clr-gradient2)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.view {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  justify-content: start;
}

.loading {
  filter: blur(30px) grayscale(100%);
}
.loaded {
  filter: blur(0) grayscale(0);
  transition: 1.3s ease-in-out;
}
